<div class="container">


  <!-- Portfolio Item Heading -->
  <h1 class="my-4">

  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <img class="d-block w-50" src="assets/Capture.PNG" alt="">

    <div class="col-md-4">
      <h3 class="my-3">What we do</h3>
      <p>Wiki Algo is an intuative self-developing, teach orientated wbsite about algorithms for beginners and experts. Here you can learn about algorithms and how they work, write your own code, and even rank yourself amongst others and explore your knowledge about algorithms to the maximum.</p>
      <h3 class="my-3">Ranking</h3>
      <ul>
        <!--TODO: Edit Metodi's stupidity-->
        <li>Майка ти</li>
        <li>Леля ти</li>
        <li>Стринка ти</li>
        <li>Баба ти</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->
</div>
